1. Simple Socket_Server/bin/
1. Simple Socket_Server/obj/
2. Simple Socket_Client/bin/
2. Simple Socket_Client/obj/
3. WPF Client/bin/
3. WPF Client/obj/
4. TCP_Chat_Server/bin/
4. TCP_Chat_Server/obj/
5. TCP_Chat_Client/bin/
5. TCP_Chat_Client/obj/
6. SMS/bin/
6. SMS/obj/
7. NovaPoshta/bin/
7. NovaPoshta/obj/