/1. Simple Socket_Server/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/1. Simple Socket_Server/obj/Debug/net8.0/1. Simple Socket_Server.AssemblyInfo.cs
/1. Simple Socket_Server/obj/Debug/net8.0/1. Simple Socket_Server.AssemblyInfoInputs.cache
/1. Simple Socket_Server/obj/Debug/net8.0/1. Simple Socket_Server.assets.cache
/1. Simple Socket_Server/obj/Debug/net8.0/1. Simple Socket_Server.GeneratedMSBuildEditorConfig.editorconfig
/1. Simple Socket_Server/obj/Debug/net8.0/1. Simple Socket_Server.GlobalUsings.g.cs
/1. Simple Socket_Server/obj/1. Simple Socket_Server.csproj.nuget.dgspec.json
/1. Simple Socket_Server/obj/1. Simple Socket_Server.csproj.nuget.g.props
/1. Simple Socket_Server/obj/1. Simple Socket_Server.csproj.nuget.g.targets
/1. Simple Socket_Server/obj/project.assets.json
/1. Simple Socket_Server/obj/project.nuget.cache
/1. Simple Socket_Server/obj/project.packagespec.json
/1. Simple Socket_Server/obj/rider.project.restore.info
5. TCP_Chat_Client/obj/Debug/net8.0-windows/5. TCP_Chat_Client_MarkupCompile.cache
5. TCP_Chat_Client/obj/Debug/net8.0-windows/5. TCP_Chat_Client_MarkupCompile.lref
